# Ignora tudo
*

# Reativa pastas
!*/

# Ignora a pasta serie03 de forma absoluta
/serie03/

# Reativa pastas que começam por 2025-
!/2025-*/

# Permite ficheiros específicos
!*.c
!*.h
!Makefile
!*.txt
!*.dat
!.gitignore
